<?xml version='1.0' encoding='utf-8'?>
<widget id="appcoin.market.test" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>MarketTest</name>
    <description>Test application</description>
    <author email="yotam@appcoin.me" href="">Appcoin</author>
    <content src="app.html" />
    <access origin="*" />
</widget>
