<?xml version='1.0' encoding='utf-8'?>
<widget id="_BUNDLE_ID_" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>_APP_NAME_</name>
    <description>_DESCRIPTION_</description>
    <author email="_AUTHOR_EMAIL_" href="">_AUTHOR_NAME_</author>
    <content src="app.html" />
    <access origin="*" />
</widget>
